<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuan.palakkadweekly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- START Added for GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.shuan.palakkadweekly.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.shuan.palakkadweekly.permission.C2D_MESSAGE" />

    <application
        android:name=".Utils.Common"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Toolbar">
        <activity
            android:name=".Activities.LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.NewsReadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transulant">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RightDrawerActiivty"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity
            android:name=".Activities.GalleryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity
            android:name=".Activities.VideoPlayerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity
            android:name=".Activities.FullScreenImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.GalleryActivity" />
        </activity>
        <activity
            android:name=".Activities.DirDetails"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AboutUsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity android:name=".Activities.EditionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <!-- For receiving GCM message and registration success -->
        <receiver
            android:name=".push.GcmBroadcastReciver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.shuan.palakkadweekly" />
            </intent-filter>
        </receiver>

        <service android:name=".push.GcmIntentService" />
    </application>

</manifest>
